form {
  margin-top: 60px !important;
}

.navbar-burger,
.navbar-burger:focus,
.navbar-burger:visited {
  background-color: inherit;
  border: none;
}

svg {
  cursor: pointer !important;
}

svg:hover {
  color: #aaa;
}

figure {
  display: inline-block;
  position: absolute;
  float: right;
  margin: 6px 12px;
  top: 4;
}
